<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="text-align: center;">

<div ng-app="myApp" ng-controller="myCtrl"> 

<div><input ng-model="deviceId" style="font-size: 20px">
<button ng-click="getStatus(deviceId)" style="font-size: 20px">
🤑</button></div><br>
<div>
	<div style="font-size: 22px" ng-repeat="data in statusResponse">{{data.status}} at {{timeConverter1(data.timestamp)}}</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

$scope.deviceId = '';

$scope.getStatus = function (deviceId) {
        $http({
            method: "GET",
            params: {'deviceId': $scope.deviceId},
            url: 'https://kjp1y833xk.execute-api.ap-south-1.amazonaws.com/test/online-status'
        }).then(function mySuccess(response) {
            if(response.status == 200) {
                $scope.statusResponse = response.data;
                //console.log('notifs', $scope.notifications);
            }
        }, function myError(response) {
            console.log(response);
        });
    }

 $scope.timeConverter = function(UNIX_timestamp){
  var d = new Date(parseInt(UNIX_timestamp)).toString("HH:mm:ss - d MMM yyyy ");
  return (d);
}

$scope.timeConverter1 = function(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = hour + ':' + min + ':' + sec + ' - ' + date + month ;
  return time;
}

});
</script>

</body>
</html>